/* The same styles as before */
.navbarBackground {
  background-color: white;
}

.dropdownMenu {
  background-color: orange;
  color: white;
}

.dropdownItem {
  color: white;
}

.linkButton {
  text-transform: capitalize;
  font-size: 16px;
  color: #000 !important; 
  background-color: #FFF;
  margin: auto 2px;
  transition: .2 sec ease-in-out;
}

.linkButton:hover,
.linkButton:focus {
  color: #FFF !important; 
  background-color: #6837f5;
  margin: auto 2px;
}

.linkButtonBook {
  color: #FFF; 
  background-color: #6837f5;
}

.linkButtonBook:hover {
  color: #FFF; 
  background-color: #ec4a2f;
}